<h1>Fuel Register</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @fuel_register.each do |f| %>      
      <tr>
        <td><%= f.type_fuel %></td>
        <td><%= f.value_liter %></td>
          <td> 
          <%= link_to t('links.Edit'), edit_fuel_register_path(f) %>
          <%= link_to t('links.Destroy'), f, method: :delete, data: { confirm: ('Vocẽ tem certeza?') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Combustivel', new_fuel_register_path, class: 'btn btn-primary' %>